h3{
  text-align: left;
  color: rgb(69, 148, 172);
}

.card{
  background-color: rgb(234, 244, 253);
  border: 1px solid rgb(69, 148, 172);
  display: inline-block;
}

div.card{
  width: 100%;
  display: inline-block;
}

.padding{
  padding-top: 20px;
  display: inline-block;
  width: 60%;

}

.page-container{
  text-align: center;
}

li{
  text-align: left;

}












//
